header {
  padding: 0 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}

header ul {
  display: flex;
}

header li {
  list-style: none;
  display: block;
}

header button {
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;

}

header .sign-up-btn {
  border: 1px solid #005FFF;
  color: #005FFF;
}
header .sign-up-btn:hover{
  background-color: black;
  color:white;
  border:black;
}

header .sign-in-btn {
  background: #005FFF;
  color: #ffffff;
}

header .sign-in-btn:hover{
  color:#ffffff;
  background-color: black;
}




